<!DOCTYPE html>
<html>
	<head>
		<title>Junhee's Homepage</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="card card-body bg-dark" style="text-align:center; color:white;">
			<h1>Junhee Lee</h1>
			<ul class="list-inline">
				<li>Email: junhee.lee002@gmail.com</li>
				<li>GitHub: <a href="https://github.com/Lee-Junhee">Lee-Junhee</a></li>
			</ul>
			<p>Student at <a href="https://stuy.enschool.org">Stuyvesant High School</a></p>
			<p>Engineer, Robot Operator on <a href="https://stuypulse.com">FRC Team 694: StuyPulse</a></p>
		</div>
		<div class="container" style="text-align:center;">
			<h2>About Me</h2>
			<p>Hello! My name is Junhee. I'm currently a senior at Stuyvesant High School.</p>
			<p>Below are some links that'll help show who I am!</p>
			<h4>
				<a href="https://makersite.leejunhee.com">Makersite</a>
			</h4>
		</div>
	</body>
</html>
