<!DOCTYPE html>
<html>
	<head>
		<title>Submodule Submission</title>
	</head>
	<body>
		{% for item in get_flashed_messages() %}
		<i>{{item}}</i>
		<br>
		<br>
		{% endfor %}
		<h4>Submodule name: {{submodule}}</h4>
		<form action="/submit" method="post">
			<b>Select assignment:</b><br>
			{% for item in assignments %}
			<input type="radio" name="id" value={{item}}>{{item}}
			<br>
			{% endfor %}
			<b>Enter the GitHub repository URL:</b><br>
			<input type="text" name="url"><br>
			<input type="submit" value="Create Submodule!">
		</form>
		<br>
		<br>
		<form action="/logout">
			<input type="submit" value="Log in as another user">
		</form>
	</body>
</html>
